fastapi==0.115.12
uvicorn[standard]==0.34.2
requests==2.32.3
pandas==2.2.3
numpy==2.2.6
loguru==0.7.3
pydantic==2.11.4
python-dotenv==1.1.0
beautifulsoup4==4.13.4
html5lib==1.1
pyyaml==6.0.2
apscheduler==3.11.0
mootdx==0.11.4
